<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyonehelps.dao.ChargesDao">

	<resultMap id="basic_result_map" type="com.anyonehelps.model.Charges">
		<id column="id" property="id" javaType="String" />
		<result column="newcustomer_chargerate" property="newcustomerChargerate" javaType="String" />
		<result column="oldcustomer_chargerate" property="oldcustomerChargerate" javaType="String" />
		<result column="create_date" property="createDate" javaType="String" />
		<result column="modify_date" property="modifyDate" javaType="String" />
	</resultMap>
	
	
	<select id="getOne" resultMap="basic_result_map">
		select * from anyonehelps_charges limit 1
	</select>
	
</mapper>
