<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyonehelps.dao.CommonDao">
	<insert id="insertToken">
		insert into user_token(user_id,email,token,status,date,type)
		values(#{userId},#{email},#{token},'0',#{date},#{type})
	</insert>
	
	<select id="retrieveToken" resultType="java.lang.String">
		select token from user_token
		where status='0' and email=#{email} and date>#{date} and type=#{type}
		order by date
		limit 1
	</select>
	
	<update id="updateStatus" parameterType="java.lang.String">
		update user_token
		set status='1'
		where email=#{email} and type=#{type}
	</update>


	<select id="getUserIdByToken" resultType="java.lang.String">
		select user_id from user_token where  token=#{token} and type=#{type} limit 1
	</select>
</mapper>
