<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyonehelps.dao.NewsDao">

	<resultMap id="basic_result_map" type="com.anyonehelps.model.News">
		<id column="id" property="id" javaType="String" />
		<result column="create_by" property="createBy" javaType="String" />
		<result column="create_date" property="createDate" javaType="String" />
		<result column="priority" property="priority" javaType="String" />
		<result column="expire_date" property="expireDate" javaType="String" />
		<result column="del_flag" property="delFlag" javaType="String" />
		<result column="title" property="title" javaType="String" />
		<result column="content" property="content" javaType="String" />
		<result column="author" property="author" javaType="String" />
		<result column="source" property="source" javaType="String" />
		<result column="visit_num" property="visitNum" javaType="String" />
		<result column="cover_img" property="coverImg" javaType="String" />
		<result column="hot_flag" property="hotFlag" javaType="String" />
		
	</resultMap>
	
	
	<sql id="no_content_column">news.id,news.create_by,news.create_date,news.priority,news.expire_date,
		news.del_flag,news.title,news.author,news.source,news.visit_num,news.cover_img,news.hot_flag
	</sql>
	
	<select id="searchByKey" resultMap="basic_result_map">
		select 
		<include refid="no_content_column" /> 
		from news where del_flag = 0 order by priority,id desc
		limit
		#{index},#{size}
	</select>

	<select id="countByKey" resultType="java.lang.Integer">
		select count(*) from news where del_flag = 0 
	</select>
	
	<select id="getById" resultMap="basic_result_map">
		select * from news where id = #{id}
	</select>
	
	<update id="modifyVisitNum">
		update news set visit_num=visit_num + 1 where id = #{id}
	</update>
</mapper>
