<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyonehelps.dao.TicketDao">

	<resultMap id="basic_result_map" type="com.anyonehelps.model.Ticket">
		<id column="id" property="id" javaType="String" />
		<result column="user_id" property="userId" javaType="String" />
		<result column="name" property="name" javaType="String" />
		<result column="email" property="email" javaType="String" />
		<result column="area_code" property="areaCode" javaType="String" />
		<result column="telphone" property="telphone" javaType="String" />
		<result column="subject" property="subject" javaType="String" />
		<result column="description" property="description" javaType="String" />
		<result column="create_date" property="createDate" javaType="String" />
		<result column="status" property="status" javaType="String" />
	</resultMap>
	
	<insert id="insert" parameterType="com.anyonehelps.model.Ticket" 
	useGeneratedKeys="true" keyProperty="id">
		insert into
		ticket(user_id,name,email,area_code,telphone,subject,description,create_date,status)
		values
		(#{userId},#{name},#{email},#{areaCode},#{telphone},#{subject},#{description},#{createDate},#{status})
	</insert>

</mapper>
