<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyonehelps.dao.WorkExperienceDao">

	<resultMap id="basic_result_map" type="com.anyonehelps.model.WorkExperience">
		<id column="id" property="id" javaType="String" />
		<result column="user_id" property="userId" javaType="String" />
		<result column="start_date" property="startDate" javaType="String" />
		<result column="end_date" property="endDate" javaType="String" />
		<result column="company" property="company" javaType="String" />
		<result column="job_title" property="jobTitle" javaType="String" />
		<result column="job_desc" property="jobDesc" javaType="String" />
		<result column="modify_date" property="modifyDate" javaType="String" />
		<result column="create_date" property="createDate" javaType="String" />
		<result column="enclosure" property="enclosure" javaType="String" />
		<result column="enclosure_name" property="enclosureName" javaType="String" />
	
	
		<result column="enclosure_pdf" property="enclosurePdf" javaType="String" />
		<result column="enclosure_pdf_state" property="enclosurePdfState" javaType="String" />
		<result column="enclosure_converter_state" property="enclosureConverterState" javaType="String" />
	
	</resultMap>
	
	<insert id="insertWE" parameterType="com.anyonehelps.model.WorkExperience" 
	useGeneratedKeys="true" keyProperty="id">
		insert into
		work_experience(user_id,start_date,end_date,company,job_title,job_desc,modify_date,create_date,enclosure,enclosure_name)
		values
		(#{userId},#{startDate},#{endDate},#{company},#{jobTitle},#{jobDesc},#{modifyDate},#{createDate},#{enclosure},#{enclosureName})
	</insert>

	<select id="getByUserId" resultMap="basic_result_map">
		select * from work_experience where user_id = #{userId} order by id desc
	</select>
	
	<select id="getById" resultMap="basic_result_map">
		select * from work_experience where id=#{id} order by id desc
	</select>
	
	<delete id="deleteById">
		delete from work_experience where user_id = #{userId} and id = #{id}
	</delete>
	
	<update id="modifyWE">
		update `work_experience`
		set `start_date`=#{startDate},
		`end_date`=#{endDate},
		`company`=#{company},
		`job_title`=#{jobTitle},
		`job_desc`=#{jobDesc},
		`modify_date`=#{modifyDate},
		`enclosure`=#{enclosure},
		`enclosure_name`=#{enclosureName}
		where id = #{id}
	</update> 
	
	<update id="modifyEnclosureName">
		update `work_experience` set `enclosure_name`=#{enclosureName} where id = #{id}
	</update> 
	
		
	<select id="getByECS" resultMap="basic_result_map">
		select * from `work_experience` where enclosure_converter_state = 0 order by id asc
	</select>
	
	<!-- 修改任务附件转换状态 -->
	<update id="modifyECS">
		update `work_experience`
		set `enclosure_converter_state`= 1,
		`enclosure_pdf`=#{ep},
		`enclosure_pdf_state`=#{eps}
		where id = #{id}
	</update> 
</mapper>
